{{!< default}}

<meta property="og:description"   content="Hmm..." />

<link rel="stylesheet" type="text/css" href="../assets/whereat/css/donate.css"></link>
<link rel="stylesheet" type="text/css" href="../assets/whereat/css/simplePagination.css"></link>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script data-main="../assets/whereat/js/app/donate.js" src="../assets/whereat/js/require.js"></script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

<style>
.share-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: -2em;
}
.fb-share-button {
    margin-top: -.6em;
    margin-right: 1em;
}
</style>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

{{! This is a page template. A page outputs content just like any other post, and has all the same attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>
</header>


<main class="content" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
        </header>

        <section class="post-content">

          <div class="donation-header">
            <p>
              Where@ is a safer location-sharing app for at risk-populations. It lets protesters, journalists, humanitarian aid workers, and refugees share their location with each other on a live-updated map. Users can exchange anonymous updates with a large group of strangers or private updates with a trusted circle of friends. To learn more, check out these blog posts about its <a href="/our-story">inception</a> and <a href="/2015/12/12/architecture">design.</a>
            </p>
            <p>
              Since we believe that people – not ad companies or spy agencies – should control the technologies they use, we will never store any user data, never seek to profit off our users, and always keep our code free and open source. Since we're committed to making software for liberation instead of profit, we've sacrificed the revenue streams that sustain most corporate software projects.
            </p>
            <p>
              <strong>We rely on help from our community to stay afloat. Please help out with whatever you can.*</strong>
            </p>
          </div>

          <div id="donation-section">

            <div id="donation-success-container"></div>
            
            <div id="donation-form-container">

              <form action="" method="GET" id="donation-form">
                <span class="payment-errors"></span>

                <div class="form-row">
                  <label>
                    <span id="donation-name-label">Name</span><br/>
                    <input type="text" size="20" data-stripe="name" id="donation-name"/>
                  </label>
                </div>

                <div class="form-row">
                  <label>
                    <span id="donation-email-label">Email</span><br/>
                    <input type="text" size="20" id="donation-email"/>
                  </label>
                </div>

                <div class="form-row">
                  <label>
                    <span id="donation-amount-label">Amount</span><br/>
                    <input type="text" size="20" data-stripe="amount" id="donation-amount"/>
                  </label>
                </div>

                <div class="form-row">
                  <label>
                    <span id="donation-card-number-label">Card Number</span><br/>
                    <input type="text" size="20" data-stripe="number" id="donation-card-number"/>
                  </label>
                </div>

                <div class="form-row">
                  <label>
                    <span id="donation-cvc-label">CVC</span><br/>
                    <input type="text" size="4" data-stripe="cvc" id="donation-cvc"/>
                  </label>
                </div>

                <div class="form-row">
                  <label>
                    <span id="donation-exp-month-label">Expiration (MM/YYYY)</span><br/>
                    <input type="text" size="2" data-stripe="exp-month" id="donation-exp-month"/>
                  </label>
                  <span> / </span>
                  <input type="text" size="4" data-stripe="exp-year" id="donation-exp-year"/>
                </div>

                <div class="form-row" id ="donate-anonymous-wrapper">
                  <input type="checkbox" name="anonymous" id="donation-anonymous" value="true" />
                  Keep my name private
                </div>



                <div id="donate-button-wrapper">
                  <button id="donate-button" type="submit">Submit Payment</button>
                </div>

                <div id="donate-stripe-attribution">
                  ----------------------
                  <em>Powered by <a href="https://stripe.com/">Stripe</a></em><br/>
                  <em>Source code <a href="https://github.com/whereat/whereat-donation-server">here</a> and <a href="https://github.com/whereat/whereat-blog/tree/master/content/themes/casper/assets/whereat/js/app">here</a><br/>----------------------</em>
                  
                </div>
              </form>
            </div>
          </div>

          {{! Share buttons }}
          <div class="share-buttons">
            <div class="fb-share-button" data-href="https://whereat.io/donate/" data-layout="button_count"></div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://whereat.io/donate/" data-text="safer location sharing for at-risk populations" data-via="whereatio">Tweet</a>
          </div>
          
        </section>
        <div id="donations">
          <div id="donations-total"></div>
          <div id="donations-list"></div>
          <div id="donations-pagination"></div>
        </div>
        <div id="donation-footer">

          <p>
            <em>*Please note, donations made through this site are not currently tax-deductible. They are gifts directly to the general partnership behind Where@, Total Location Test Paragraph. If you'd like to make a tax-deductible donation to our fiscal sponsor, Riseup Labs, please send us an email at whereat [dot] admin [at] riseup [dot] net.</em>
          </p>
        </div>
      
    </article>
</main>
{{/post}}
